{% extends 'education/base.html' %}
        {% block content %}

        <div class="row">


          <h2>Ведомость оценки заданий</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Предмет</th>
                  <th>Задание</th>
                  <th>Статус</th>
                  <th>Студент</th>
                  <th>Комментарий</th>
                  

                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ object.SUBJECT }}</td>
                  <td>{{ object.TASK }}</td>
                  <td>{{ object.STATUS_CHECK }}</td>
                  <td>{{ object.STUDENT }}</td>
                  <td>{{ object.COMMENT }}</td>
                  

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>


          {% endblock %}
